.container-clock{
    width: 4rem;
    height:4rem;
    background-color: rgba(93, 119, 141, 0.37);
    box-shadow: 25px 25px 25px black;
    border-radius:100%;
    position: fixed;
    z-index: 15;
    top: 4rem;
    left:6rem;  
    transform: translate(-50%,-50%);
}.hour-clock{
    width: 4rem;
    height:4rem;
    /* background-color: rgb(128, 138, 146); */
    
    position: absolute;
    border-radius: 100%;
}.hour-hand{
    position: absolute;
    width: 0.4rem;
    height: 0.4rem;
    background-color: rgb(0, 195, 255);
    top: 25%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 100%;
}.minute-clock{
    width: 4rem;
    height:4rem;
    position: absolute;
    border-radius: 100%;
}.minute-hand{
    position: absolute;
    width: 0.2rem;
    height: 0.2rem;
    background-color: rgb(227, 238, 241);
    top: 10%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 100%;
}.center-hand{
    position: absolute;
    width: 0.2rem;
    height: 0.2rem;
    background-color: rgba(227, 238, 241, 0.24);
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 100%;
}